
.donation-form {
  max-width: 500px;
}

label, .label {
  margin-top: 1em;
  margin-bottom: .3em;
}

#card-element {
  margin-top: 8px;
}

.form-item-amount {
  width: 50%;
  float: left;
  max-width: 240px;
}

.form-item-amount + div {
  width: 50%;
  float: left;
}

#card-errors,
.donation-form .error {
  color: darkred;
}

.amount-error {
  clear: both;
  margin-top: -1em;
  margin-bottom: 1em;
}
